<ion-view view-title="{{'global.freeRooms' | translate}}">
    <ion-nav-buttons side="secondary">
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher
            pulling-text="{{'global.pullToRefresh' | translate}}"
            on-refresh="loadFreeRooms()">
        </ion-refresher>
        <!-- <ion-item ng-show="initialLoading" style="test-align: center;">
            <div style="margin: 0 auto; width:28px">
                <ion-spinner></ion-spinner>
            </div>
        </ion-item> -->
        <ion-list ng-repeat="(building, rooms) in fRooms track by $index" ng-show="rooms">
            <div class="item item-divider">
                Bau {{building}}
            </div>
            <ion-item ng-repeat="room in rooms">
                {{room}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
