<ion-popover-view style="min-height: 180px; height: auto;">
    
    <ion-content>
        <ion-item class="item-text-wrap">
            <table>
                <tr>
                    <td class="lecture-list-item-circle">
                        <div style="margin-right: 5px; background-color: {{clickedLecture.color}}" class="circle-with-content">
                            {{clickedLecture.lectureName | limitTo: 1 | uppercase}}
                        </div>
                    </td>
                    <td>
                        <b>{{clickedLecture.lectureName}}</b>
                    </td>
                </tr>
            </table>
                    
            <hr>
            in  <b>{{clickedLecture.rooms | join: ", "}} </b> <br>
            von <b>{{clickedLecture.startTime | date: "shortTime"}} </b>
            bis <b>{{clickedLecture.endTime | date: "shortTime"}} </b> Uhr <br>
            Dozent: <b>{{clickedLecture.docents | join: ", "}} </b> <br>
            
            <!--<button class="button button-small button-outline button-block button-positive" ng-click="popover.hide();">
                {{'global.close' | translate}}
            </button> -->
        </ion-item>
    </ion-content>
</ion-popover-view>