<ion-view view-title="Setup: select your Courses">
    <ion-nav-buttons side="secondary">
        <a class="button button-positive" href="#/tab/home">Done</a>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div ng-repeat="group in groups">
                <ion-item style="padding: 0;" class="item-actived-background-transition item-checkbox">

                    <div ng-click="groupChecked(group, cb.groupChecked)" style="width: 28px;" class="checkbox">
                        <input ng-model="cb.groupChecked" style="width: 28px;" type="checkbox">
                    </div>
                    <div style="padding: 15px; padding-left: 50px;" ng-click="toggleGroup(group)">
                        {{group._id}}
                        <i style="float: right" class="icon" ng-class="group.shown ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
                    </div>

                </ion-item>
                <ion-checkbox class="checkbox-inset item-accordion"
                              ng-repeat="lecture in group.lectures"
                              ng-show="group.shown"
                              ng-model="cb.lectureChecked"
                              ng-click="lectureChecked(lecture, cb.lectureChecked)">
                    {{lecture}}
                </ion-checkbox>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
