<ion-view view-title="{{'setup.title' | translate}}">
    <ion-nav-buttons side="secondary">
        <button ng-click="saveSetup()" class="button button-positive">{{'global.done' | translate}}</button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>

            <ion-item class="item-text-wrap">
                <p> {{'setup.info' | translate}} </p>
            </ion-item>

            <ion-item ng-if="showErrorMessage">
                {{'setup.error' | translate}}
                <button class="button button-outline button-block button-positive" ng-click="load()">
                    {{'setup.retry' | translate}}
                </button>
            </ion-item>

            <ion-item style="padding: 0;" class="item-checkbox setup-item" ng-repeat="group in groups | orderBy:'selectionState'">
                    <div style="width: 1px; margin-top: -13px; padding: 0;" class="checkbox">
                        <input ng-model="group.selectionState"
                               indeterminate-checkbox
                               state="{{group.selectionState}}"
                               class="group-checkbox"
                               style="width: 28px;" type="checkbox"
                               ng-click="groupCheckboxClicked($index)">
                        </input>
                    </div>
                    <a style="padding: 0 !important;" class="item-content" href="#/setupDetail/{{group._id}}">
                        <div style="padding: 15px; padding-left: 50px;">
                            {{group._id}}
                        </div>
                    </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
