<ion-view view-title="{{'global.lectures' | translate}}">
    <ion-nav-buttons side="secondary">
        <a class="button button-icon icon ion-ios-refresh-empty" ng-click="loadLectures()"></a>
        <a class="button button-icon icon ion-ios-paper-outline" ng-click="switchToList()"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-slide-box
            style="height: 100%" 
            on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <cz-week-view 
                    on-event-click="onEventClick(data)"
                    events="eventsWeekly[0]">
                </cz-week-view>
            </ion-slide>
            <ion-slide>
                <cz-week-view 
                    on-event-click="onEventClick(data)" 
                    events="eventsWeekly[1]">
                </cz-week-view>
            </ion-slide>
            <ion-slide>
                <cz-week-view 
                    on-event-click="onEventClick(data)"
                    events="eventsWeekly[2]">
                </cz-week-view>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
