<ion-view view-title="{{deadline.info}}">
    <ion-content>
        <ion-list>
            <div class="list card">
                <div class="item item-text-wrap">
                    <p>{{'global.info' | translate}}:</p>
                    <div class="cardFont">{{deadline.info}}</div>
                </div>
                <div class="item item-text-wrap">
                    <p>{{'global.group' | translate}}:</p>
                    <div class="cardFont">{{deadline.group.groupName}} - {{deadline.group.lectureName}}</div>
                </div>
                <div class="item item-text-wrap">
                    <p>{{'deadlines.deadline' | translate}}:</p>
                    <div class="cardFont">{{deadline.deadline | date: 'EEEE, dd.MM.yyyy'}}</div>
                </div>
                <div class="item item-text-wrap noLeftPadding">
                    <ion-checkbox class="smallCheckbox" ng-model="deadline.done" ng-change="saveDeadline()">
                        {{'deadlines.done' | translate}}
                    </ion-checkbox>
                </div>
            </div>

            <div class="cardPaddings">
                <button class="button button-outline button-assertive col col-center" ng-click="deleteDeadline()">
                    {{'deadlines.delete' | translate}}
                </button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
