<ion-view view-title="{{'global.home' | translate}}">
    <ion-nav-buttons side="secondary">
        <ion-spinner ng-show="loading"></ion-spinner>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher
          pulling-text="{{'global.pullToRefresh' | translate}}"
          on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <div class="list card">
                <div class="item item-divider">{{'home.current' | translate}}</div>
                <div ng-repeat="currLecture in currLectures" class="lectureItem item item-body">
                        <table>
                            <tr class="lecture-list-item">
                                <td class="lecture-list-item-circle">
                                    <div style="background-color: {{currLecture.color}}" class="circle-with-content">
                                        {{currLecture.lectureName | limitTo: 1}}
                                    </div>
                                </td>
                                <td class="lecture-list-item-details">
                                    <b>{{currLecture.lectureName}}</b>
                                    <p style="margin: 0;">
                                        {{currLecture.startTime | date: 'dd.MM.yyyy'}}
                                        <b>
                                            {{currLecture.startTime | date: 'HH:mm'}} - {{currLecture.endTime | date: 'HH:mm'}}
                                        </b>
                                        <span ng-if="currLecture.rooms.length > 0">
                                            in
                                            <b>{{currLecture.rooms | join: ', '}}</b>
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        </table>
                </div>
                <div ng-if="currLectures.length == 0" class="lectureItem item item-body">
                    {{'home.noLecture' | translate}}
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">{{'home.next' | translate}}</div>
                <div ng-repeat="nextLecture in nextLectures" class="item item-body">
                    <table>
                        <tr class="lecture-list-item">
                            <td class="lecture-list-item-circle">
                                <div style="background-color: {{nextLecture.color}}" class="circle-with-content">
                                    {{nextLecture.lectureName | limitTo: 1}}
                                </div>
                            </td>
                            <td class="lecture-list-item-details">
                                <b>{{nextLecture.lectureName}}</b>
                                <p style="margin: 0;">
                                    {{nextLecture.startTime | date: 'dd.MM.yyyy'}}
                                    <b>
                                        {{nextLecture.startTime | date: 'HH:mm'}} - {{nextLecture.endTime | date: 'HH:mm'}}
                                    </b>
                                    <span ng-if="nextLecture.rooms.length > 0">
                                        in
                                        <b>{{nextLecture.rooms | join: ', '}}</b>
                                    </span>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div ng-if="nextLectures.length == 0" class="lectureItem item item-body">
                    {{'home.noLecture' | translate}}
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
