<ion-view view-title="{{'global.lectures' | translate}}">
    <ion-nav-buttons side="secondary">
        <a class="button button-icon icon ion-ios-refresh-empty" ng-click="doRefresh()"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher
            pulling-text="{{'global.pullToRefresh' | translate}}"
            on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>

            <!-- group the lectures by its date -->
            <div ng-repeat="(key, value) in lectures | filter:isUpcoming | groupBy: 'date'">
                <div class="item item-divider">
                    {{key | date: 'EEE, dd.MM.yyyy'}}
                </div>
                <ion-item style="border-left: 10px solid {{lecture.color}};" class="color-indicator item-text-wrap" ng-repeat="lecture in value | filter:isMyCourse" href="#/tab/lectures/{{lecture._id}}">
                <!--<ion-item class="lectureItem item-text-wrap" ng-repeat="lecture in value | filter:isMyCourse" href="#/tab/lectures/{{lecture._id}}">-->
                    <h2>
                        <!--<span style="color: {{lecture.color}}" class="ion-icon ion-record"></span>-->
                        <b>{{lecture.lectureName}}</b> in <b>{{lecture.rooms | join: ', '}}</b>
                    </h2>
                    <h3>{{lecture.startTime | date: 'HH:mm'}} - {{lecture.endTime | date: 'HH:mm'}}</h3>
                </ion-item>
            </div>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
