<ion-view view-title="{{lecture.fullLectureName}}">
    <ion-content>
        <ion-list>
            <div class="list card">
                <div class="item item-text-wrap">
                    <p>Lecture Name:</p>
                    <div class="cardFont">{{lecture.lectureName}}</div>
                </div>
                <div class="item item-text-wrap">
                    <p>Room(s):</p>
                    <div class="cardFont">{{lecture.rooms | join: ', '}}</div>
                </div>
                <div class="item item-text-wrap">
                    <p>Start Time:</p>
                    <div class="cardFont">{{lecture.startTime | date:'EEE, dd.MM.yyyy HH:mm'}}</div>
                </div>
                <div class="item item-text-wrap">
                    <p>EndT ime:</p>
                    <div class="cardFont">{{lecture.endTime | date:'EEE, dd.MM.yyyy HH:mm'}}</div>
                </div>
                <div class="item item-text-wrap">
                    <p>Group(s):</p>
                    <div class="cardFont">{{lecture.groups | join: ', '}}</div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
