<ion-view view-title="{{'global.settings' | translate}}">
    <ion-nav-buttons side="secondary">
    </ion-nav-buttons>
    <ion-content>
        <ion-list>

            <ion-item>
                <span class="input-label">{{'global.semGroup' | translate}}</span>
                <div class="item-text-wrap">
                    <p>{{'settings.semGroupHelp' | translate}}</p>
                </div>

                <a class="button button-block button-positive" href="#/setup?showBackButton=true">
                    {{'settings.selectSemesterAndGroups' | translate}}
                </a>
            </ion-item>

            <label class="item item-input item-stacked-label hidden-feature" ng-hide="false">
                <span class="input-label">{{'settings.apiUrl' | translate}}</span>
                <input type="text" ng-model="settings.apiUrl" ng-blur="save()">
            </label>

            <ion-item>
                {{'settings.version' | translate}}: {{settings.version}}
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
