<ion-view view-title="{{'global.home' | translate}}">
    <ion-nav-buttons side="secondary">
        <ion-spinner ng-show="loading"></ion-spinner>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher
          pulling-text="{{'global.pullToRefresh' | translate}}"
          on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <div class="list card">
                <div class="item item-divider">{{'home.current' | translate}}</div>
                    <div style="border-left: 10px solid {{currLecture.color}};" class="lectureItem item item-body">
                        <div ng-if="currLecture">
                            <b>{{currLecture.lectureName}}</b> in <b>{{currLecture.rooms | join: ', '}}</b> <br>
                            {{currLecture.startTime | date: 'HH:mm'}} - {{currLecture.endTime | date: 'HH:mm'}}
                        </div>
                    <div ng-if="!currLecture">
                        {{'home.noLecture' | translate}}
                    </div>
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">{{'home.next' | translate}}</div>
                    <div style="border-left: 10px solid {{nextLecture.color}};" class="item item-body">
                        <div ng-if="nextLecture">
                            <b>{{nextLecture.lectureName}}</b> in <b>{{nextLecture.rooms | join: ', '}}</b> <br>
                            {{nextLecture.startTime | date: 'EEEE, HH:mm'}} - {{nextLecture.endTime | date: 'HH:mm'}}
                        </div>
                    <div ng-if="!nextLecture">
                        {{'home.noLecture' | translate}}
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
