<ion-view view-title="{{lecture.lectureName}}">
    <ion-content>
        <ion-list>
            <div class="list card">
                <div class="item item-text-wrap">
                    <p>{{'global.group' | translate}}:</p>
                    <div class="cardFont">{{lecture.lectureName}}</div>
                </div>
                <div class="item item-text-wrap">
                    <p>{{'lectures.rooms' | translate}}:</p>
                    <div class="cardFont">{{lecture.rooms | join: ', '}}</div>
                </div>
                <div class="item item-text-wrap">
                    <p>{{'lectures.startTime' | translate}}:</p>
                    <div class="cardFont">{{lecture.startTime | date:'EEE, dd.MM.yyyy HH:mm'}}</div>
                </div>
                <div class="item item-text-wrap">
                    <p>{{'lectures.endTime' | translate}}:</p>
                    <div class="cardFont">{{lecture.endTime | date:'EEE, dd.MM.yyyy HH:mm'}}</div>
                </div>
                <div class="item item-text-wrap">
                    <p>{{'global.semGroup' | translate}}:</p>
                    <div class="cardFont">{{lecture.groups | join: ', '}}</div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
