<ion-view view-title="{{lecture.fullLectureName}}">
    <ion-content>
        <ion-list>
            <ion-item>
                shortLectureName: {{lecture.shortLectureName}}<br>
                fullLectureName: {{lecture.fullLectureName}}<br>
                Room: {{lecture.room}}<br>
                startTime: {{lecture.startTime}}<br>
                endTime: {{lecture.endTime}}<br>
                group: {{lecture.group}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
