<ion-view view-title="{{'global.deadlines' | translate}}">
    <ion-nav-buttons side="secondary">
        <a class="button button-icon icon ion-ios-plus-outline" href="#/tab/createDeadline"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher
            pulling-text="{{'global.pullToRefresh' | translate}}"
            on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <cz-error-message visible="error">
                <div scroll="false" class="card">
                    <div class="item item-text-wrap error-message">
                        {{'deadlines.cantload' | translate}}
                    </div>
                </div>
            </cz-error-message>
            <div ng-repeat="(key, value) in deadlines | filter:isNotRemoved | groupBy: 'done'">
                <div class="item item-divider" >
                    <span ng-if="key === 'false'">{{'deadlines.todo' | translate}} ({{value.length}})</span>
                    <span ng-if="key === 'true'">{{'deadlines.done' | translate}} ({{value.length}})</span>
                </div>
                <ion-item style="border-left: 10px solid {{deadline.color}};" class="color-indicator item-text-wrap" ng-repeat="deadline in value | orderBy:'deadline'" type="item-text-wrap" href="#/tab/deadlines/{{deadline._id}}">
                    <h2>
                        <b>{{deadline.info}}</b> in <b>{{deadline.group}}</b>
                        <div>
                            {{'deadlines.to' | translate}} <b>{{deadline.deadline | date: 'EEE, dd.MM.yyyy'}}</b>
                        </div>
                    </h2>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
