<ion-view view-title="{{'deadlines.create' | translate}}">
    <ion-content>
        <div class="list">
            <form name="forms.deadlineForm" novalidate> <!-- for turning of browser validation, we use agnulars validation -->
                <label class="item item-input">
                    <span class="input-label">{{'global.info' | translate}}</span>
                    <input type="text" ng-model="deadline.info" required="">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        {{'global.group' | translate}}
                    </div>
                    <select ng-model="deadline.group" required="">
                        <option ng-repeat="lecture in lectureTitles" value="{{lecture}}">{{lecture.lectureName}}</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">{{'deadlines.date' | translate}}</span>
                    <input type="date" ng-model="deadline.deadline" required="">
                </label>
                <ion-item>
                    <button class="button button-positive col col-center" ng-click="save()">
                        <span ng-bind-html="savingIcon | rawHtml"></span> {{savingText}}
                    </button>
                </ion-item>
            </form>
        </div>
    </ion-content>
</ion-view>
