<ion-view view-title="{{deadline.info}}">
    <ion-content>
        <ion-list>
            <div class="list card">
                <div class="item item-text-wrap">
                    <p>Info:</p>
                    <div class="cardFont">{{deadline.info}}</div>
                </div>
                <div class="item item-text-wrap">
                    <p>Group:</p>
                    <div class="cardFont">{{deadline.group}}</div>
                </div>
                <div class="item item-text-wrap">
                    <p>Deadline:</p>
                    <div class="cardFont">{{deadline.deadline | date: 'EEE, dd.MM.yyyy'}}</div>
                </div>
                <div class="item item-text-wrap noLeftPadding">
                    <ion-checkbox class="smallCheckbox" ng-model="deadline.done">
                        Done
                    </ion-checkbox>
                </div>
            </div>
            <div class="cardPaddings">
                <button class="button button-outline button-positive col col-center" ng-click="saveDeadline()">
                    Save
                </button>
            </div>

            <div class="cardPaddings">
                <button class="button button-outline button-assertive col col-center" ng-click="deleteDeadline()">
                    Delete
                </button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
