<ion-view view-title="{{'global.mensa' | translate}}">
    <ion-nav-buttons side="secondary">
        <ion-spinner ng-show="loading"></ion-spinner>
        <a class="button button-icon icon ion-ios-information-outline" ng-click="toggleInfoVisible()"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher
            pulling-text="{{'global.pullToRefresh' | translate}}"
            on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <cz-error-message visible="errorVisible">
                <div scroll="false" class="card">
                    <div class="item item-text-wrap error-message">
                        {{'mensa.cantload' | translate}}
                    </div>
                </div>
            </cz-error-message>

            <ion-item ng-if="infoVisible" class="item-text-wrap">
                <p>
                    Die Mensa befindet sich in der Holzgartenstraße 11 und hat Montag - Freitag von 11:15 - 14:15 Uhr geöffnet.
                </p>
            </ion-item>

            <!-- group the dishes by its date -->
            <div ng-repeat="(key, value) in dishes | groupBy: 'date'">
                <div class="item item-divider">
                    {{key | date: 'EEEE, dd.MM.yyyy'}}
                </div>
                <ion-item class="item-text-wrap" ng-repeat="dish in value">
                    <h3 class="float-left">{{dish.category}}</h3> <b class="float-right">{{dish.priceInternal | number: 2}}€ / {{dish.priceExternal | number: 2}}€</b>
                    <h2 class="clear-float">
                        <b>{{dish.dishName}}</b>
                    </h2>
                    <div class="dishes-allergens-additives">
                        <p ng-show="dish.allergens.length !== 0">Allergene: {{dish.allergens | join: ', '}}</p>
                        <p ng-show="dish.additives.length !== 0">Zusätze: {{dish.additives | join: ', '}}</p>
                    </div>
                </ion-item>
            </div>

            </ion-item>
        </ion-list>
        <!--<ion-infinite-scroll
            on-infinite="loadMore()"
            distance="50%">
        </ion-infinite-scroll>-->
    </ion-content>
</ion-view>
