<ion-view view-title="{{deadline.info}}">
    <ion-content>
        <ion-list>
            <div class="list card">
                <div class="item item-text-wrap">
                    <p>Info:</p>
                    <div class="cardFont">{{deadline.info}}</div>
                </div>
                <div class="item item-text-wrap">
                    <p>Info:</p>
                    <div class="cardFont">{{deadline.info}}</div>
                </div>
                <div class="item item-text-wrap noLeftPadding">
                    <ion-checkbox class="smallCheckbox" ng-model="deadline.done">
                        Done
                    </ion-checkbox>
                </div>
            </div>
            <div class="cardPaddings">
                <button class="button button-outline button-positive col col-center" ng-click="saveDeadline()">
                    Save
                </button>
            <div>
        </ion-list>
    </ion-content>
</ion-view>
