<ion-view view-title="{{'global.deadlines' | translate}}">
    <ion-nav-buttons side="secondary">
        <ion-spinner ng-show="loading"></ion-spinner>
        <button ng-click="go('tab.deadline-create')" class="button button-clear">
            <i class="icon ion-ios-plus-outline"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher
            pulling-text="{{'global.pullToRefresh' | translate}}"
            on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <cz-error-message visible="error">
                <div scroll="false" class="card">
                    <div class="item item-text-wrap error-message">
                        {{'deadlines.cantload' | translate}}
                    </div>
                </div>
            </cz-error-message>

            <ion-item ng-if="deadlines.length === 0">
                {{'deadlines.noDeadlines' | translate}}
            </ion-item>

            <div ng-repeat="(key, value) in deadlines | filter:isNotRemoved | groupBy: 'done'">
                <div class="item item-divider" >
                    <span ng-if="key === 'false'">{{'deadlines.todo' | translate}} ({{value.length}})</span>
                    <span ng-if="key === 'true'">{{'deadlines.done' | translate}} ({{value.length}})</span>
                </div>

                <ion-item click-for-options class="color-indicator item-text-wrap" ng-repeat="deadline in value | orderBy:'deadline'">
                    <table>
                        <tr>
                            <td style="vertical-align:middle">
                                <div style="background-color: {{deadline.color}}" class="indicator-circle"></div>
                            </td>
                            <td>
                                <h2>
                                    <b>{{deadline.info}}</b> in <b>{{deadline.group.lectureName}}</b>
                                    <div>
                                        {{'deadlines.to' | translate}} <b>{{deadline.deadline | date: 'EEEE, dd.MM.yyyy'}}</b>
                                    </div>
                                </h2>
                            </td>
                        </tr>
                    </table>

                    <ion-option-button class="button-balanced" ng-click="doneToggle(deadline)" ng-if="!deadline.done">Done</ion-option-button>
                    <ion-option-button class="button-energized" ng-click="doneToggle(deadline)" ng-if="deadline.done">Undone</ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="deleteDeadlineLocal(deadline)">Delete</ion-option-button>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
