<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Home Tab -->
    <ion-tab title="{{'global.home' | translate}}" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- Lectures Tab -->
    <!--<ion-tab title="Lectures" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/{{lecturesUrl}}">-->
    <ion-tab title="{{'global.lectures' | translate}}" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="{{lecturesViewUrl}}">
        <ion-nav-view name="tab-lectures"></ion-nav-view>
    </ion-tab>

    <!-- Deadlines Tab -->
    <ion-tab title="{{'global.deadlines' | translate}}" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/deadlines">
        <ion-nav-view name="tab-deadlines"></ion-nav-view>
    </ion-tab>

    <!-- Mensa Tab -->
    <ion-tab title="{{'global.mensa' | translate}}" icon-off="ion-pizza" icon-on="ion-pizza" href="#/tab/mensa">
        <ion-nav-view name="tab-mensa"></ion-nav-view>
    </ion-tab>

    <!-- Settings Tab -->
    <ion-tab title="{{'global.settings' | translate}}" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>

    <!-- News Tab (is hidden, we just need the ion-nav-view)-->
    <ion-tab hidden="true" title="News" href="#/tab/news">
        <ion-nav-view name="tab-news"></ion-nav-view>
    </ion-tab>

    <!-- Event Tab (is hidden, we just need the ion-nav-view)-->
    <ion-tab hidden="true" title="Events" href="#/tab/events">
        <ion-nav-view name="tab-events"></ion-nav-view>
    </ion-tab>

    <!-- Printers Tab (is hidden, we just need the ion-nav-view)-->
    <ion-tab hidden="true" title="Printers" href="#/tab/printers">
        <ion-nav-view name="tab-printers"></ion-nav-view>
    </ion-tab>

    <!-- Printers Tab (is hidden, we just need the ion-nav-view)-->
    <ion-tab hidden="true" title="FreeRooms" href="#/tab/freeRooms">
        <ion-nav-view name="tab-freeRooms"></ion-nav-view>
    </ion-tab>
</ion-tabs>
