<ion-view view-title="Settings">
    <ion-nav-buttons side="secondary">
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <label class="item item-input item-stacked-label">
                <span class="input-label">API Url</span>
                <input type="text" ng-model="settings.apiUrl">
            </label>
            <ion-item class="item-toggle">
                just an option
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>
            <ion-item>
                <button class="button button-outline button-block button-positive" ng-click="save()">
                    Save
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
