<ion-view view-title="Create Deadline">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Titel</span>
                <input type="text" placeholder="DSA Blatt 4">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Text</span>
                <input type="text" placeholder="wichtig für die Klausur!">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Abgabetermin</span>
                <input type="date" placeholder="01.02.2015">
            </label>
        </div>
    </ion-content>
</ion-view>
