/*** HFT Style ***/
.bar.bar-dark {
    background-color: #CC3300 !important;
    background-image: linear-gradient(0deg, #CC3300, #CC3300 50%, transparent 50%) !important;
}

.bar.bar-positive {
    background: #F0773C !important;
}

.sidemenu-items i {
    color: #CC3300 !important;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, .tab-item.activated {
    color: #F0773C !important;
}

.checkbox input:indeterminate:before, .checkbox input:checked:before{
    background: #F0773C !important;
    border-color: #F0773C !important;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #F0773C !important;
    border-color: #F0773C !important;
}

.button.button-positive {
    border-color: #F0773C !important;
    background: #F0773C !important;
    color: #fff !important;
}

.button.button-positive .activated {
    border-color: #F0773C !important;
    background: #F0773C !important;
    color: #ddd !important;
}

.indicator-circle {
    border-radius: 7px;
    min-width:  15px;
    min-height: 15px;
    margin-right: 10px;
}

.bar .spinner {
    stroke: #fff !important;
}

/*** Style for our special Checkboxes ***/

.smallCheckbox {
    padding-top: 0px;
    padding-bottom: 0px;
}

.noLeftPadding {
    padding-left: 0px;
}

.cardPaddings {
    padding: 10px;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear-float {
    clear: both;
}

.center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

/********* Accordion Animations **********/
.item-accordion {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    transition: 0.25s all linear;

    line-height: 42px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.item-accordion.ng-enter,
.item-accordion.ng-leave.ng-leave-active {
    line-height: 0px;
}

.item-accordion.ng-leave,
.item-accordion.ng-enter.ng-enter-active {
    line-height: 42px;
}


/********* Inset Checkboxes **************/
.checkbox-inset .checkbox {
    padding-left: 40px;
}

.checkbox-inset .item-content {
    padding-left: 25px;
}

/* Depreacted? */
.item-actived-background-transition {
    background-color: #ffffff;
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    /*-webkit-transition: 0 0.2s;
      -moz-transition: 0s 0.2s;
        -ms-transition: 0 0.2s;
         -o-transition: 0 0.2s;
            transition: 0 0.2s;*/
}

.item-actived-background-transition-active {
    background-color: #D9D9D9;
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}


/************ MENSA **********************/
.dishes-allergens-additives p {
    line-height: 1.2;
    font-size: 12px;
    margin-top: 5px;
}

/************ Error Message **************/
.error-message {
    color: #FFF !important;
    background-color: #C75754 !important;
    border-color: #AC2925 !important;
    font-size: 1em;
}

/************ Calendar *******************/
#myCalendar {
    margin-top: -2px;
}
