/*** HFT Style ***/
a.hft {
    color: #F0773C !important;
}

.bar.bar-dark {
    background-color: #CC3300 !important;
    border-color: #CC3300 !important;
    background-image: linear-gradient(0deg, #CC3300, #CC3300 50%, transparent 50%) !important;
}

.bar.bar-positive {
    background: #F0773C !important;
    border-color: #F0773C !important;
}

.sidemenu-items i {
    color: #CC3300 !important;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, .tab-item.activated {
    color: #F0773C !important;
}

.checkbox input:indeterminate:before, .checkbox input:checked:before{
    background: #F0773C !important;
    border-color: #F0773C !important;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #F0773C !important;
    border-color: #F0773C !important;
}

.button.button-positive {
    border-color: #F0773C !important;
    background: #F0773C !important;
    color: #fff !important;
}

.button.button-positive .activated {
    border-color: #F0773C !important;
    background: #F0773C !important;
    color: #ddd !important;
}

/*** circle on the left, text on the right ***/
.lecture-list-item-circle, .deadline-list-item-circle {
    vertical-align: middle;
}

.lecture-list-item-details, .deadline-list-item-details {
    padding-left: 15px;
}

.circle-with-content {
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: arial !important;
}

/*** Orange spinner for android ***/
.platform-android .spinner svg {
    stroke: #F27731;
}

/*** White spinner in header bar ***/
.bar .spinner {
    stroke: #fff !important;
}

/*** Hide Tabs when Keyboard is open ***/
.keyboard-open .tabs{
    display:none;
}

.keyboard-open .has-tabs{
    bottom:0;
}

/*** Hidden Features ***/
.hidden-feature {
    display: none !important;
}

/*** Style for our special Checkboxes ***/
.smallCheckbox {
    padding-top: 0px;
    padding-bottom: 0px;
}

.noLeftPadding {
    padding-left: 0px;
}

.noPadding {
    padding: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0 !important;
}

.cardPaddings {
    padding: 10px;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear-float {
    clear: both;
}

/********* Inset Checkboxes **************/
.checkbox-inset .checkbox {
    padding-left: 40px;
}

.checkbox-inset .item-content {
    padding-left: 25px;
}

/************ MENSA **********************/
.dishes-allergens-additives p {
    line-height: 1.2;
    font-size: 12px;
    margin-top: 5px;
}

/************ Error Message **************/
.error-message {
    color: #FFF !important;
    background-color: #C75754 !important;
    border-color: #AC2925 !important;
    font-size: 1em;
}

/************ Calendar *******************/

.weekViewDayCol {
    padding: 0 !important;
}

.weekViewSepCol {
    padding: 0 !important;
}

.weekViewGroup {
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

.weekViewEventColWithin .weekViewSep {
    border-right: none;
}

.weekViewEventColWithin .weekViewFiller {
    border-right: none;
}

.weekViewDayHeaderCell {
    font-size: 10px;
    text-align: center; 
    line-height: normal;
}

.weekViewTimeColumn {
    font-size: 8px;
    margin-left: 4px;
    margin-right: 4px;
    color: #66666;
}

.weekViewSepColumn {
    padding-top: 5px;
    padding-bottom: 5px;
}

.weekViewFiller {
    border-right: 1px solid #E6E5E6;
}

.weekViewSep {
    box-sizing: border-box;
    border-bottom: 1px solid #E6E5E6;
    border-right: 1px solid #E6E5E6;
}

.weekViewEventCol {
    overflow: scroll;
    font-size: 8px;
}

.weekViewEvent {
    box-sizing: border-box;
    border-top: 1px solid #fff;
    border-left: 3px solid #8D4723;
    background: #ED773C;
    color: #fff;
    overflow: scroll;
    line-height: normal;
}

/************ div tables *****************/
div.table {
    width: 100%;
    display: table;
}

div.tr {
    display:table-row;
}

div.td {
    display:table-cell;
}

/* prevents the gray background on pressed ion-item, apply condiotionally via ng-class */
.prevent-activated{
  background: #fff !important;
}
